.menu-button{

    -fx-background-color: white;
    -fx-border-width: 1px;/* Green */
    -fx-border-color: limegreen;
    -fx-border-radius: 10px;

    -fx-effect: dropshadow(gaussian, lime, 5,-3, 3,5);

    -fx-font-color: blue;


    -fx-text-alignment: center;
    -fx-pref-height: 51px;
    -fx-pref-width: 165px;




    -fx-background-radius: 12px;
    -fx-webkit-transition-duration: 0.4s;
    -fx-transition-duration:0.4s;



}
.menu-button:selected{
    -fx-border-width: 2px;
    -fx-border-color: black;
}
.menu-button:hover{
    -fx-background-color: rgba(140,254,92,0.9);

}

.menu-button.label.text{
    -fx-fill: rgba(250,251,255,0.9);
}

.context-menu{
    -fx-background-color: rgba(198,250,255,0.93);
    -fx-background-radius: 3%;
    -fx-border-radius: 3%;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0,0,0,0.9);
    -fx-opacity: 100;
    -fx-effect: dropshadow(one-pass-box, burlywood, 5, 0, 3, 5);


}


.textbox{
    -fx-background-color: floralwhite;

    -fx-border-color: rgba(51,51,51,0.85);
    -fx-border-width: 2px;

}





